extends layout

block content
  h1= user
  form(action="/users/logout" method="GET")
   button(type="submit") logout

  if successes
     .form-information
        for success in successes
            p #{ success }

