/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #EFF1F2;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

.authentication--login {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 25% 320px auto;
      grid-template-rows: 25% 320px auto;
}

.authentication--login img {
  top: -40%;
}

.authentication--login .form__front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.authentication--login .form__front .form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authentication--login .form__front .form-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authentication--login .form__front .form-reminder {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authentication--login .form__front .form-information {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  padding: 2px;
  color: #2b87bd;
}

.authentication--registerx {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 540px auto;
      grid-template-rows: 20% 540px auto;
}

.authentication--registerx img {
  top: -23%;
}

.authentication--registerx .form__front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.authentication--registerx .form__front .form-nip {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authentication--registerx .form__front .form-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authentication--registerx .form__front .form-password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authentication--registerx .form__front .form-password-confirmed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.authentication--registerx .form__front .form-reminder {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.authentication--registerx .form__front .form-errors {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.authentication--registerx .form__front .form-errors .errors {
  color: rgba(228, 86, 86, 0.705);
  font-family: "Roboto", sans-serif;
  font-size: .8rem;
  padding: 2px;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 420px 1fr;
      grid-template-columns: 1fr 420px 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  font-family: "Roboto", sans-serif;
  height: 100vh;
}

.content .authentication {
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  position: relative;
}

.content .authentication__header {
  margin-top: 10%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
}

.content .authentication__container {
  position: relative;
  background-color: #ffffff;
  border: 0.5px solid #d3d0d0;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .authentication__container img {
  position: absolute;
  border-radius: 50%;
  border: 0.5px solid #d3d0d0;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 40%;
}

.content .authentication__container .front__panel {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 80%;
  width: 80%;
}

.content .authentication__footer {
  height: 100%;
}

.content .authentication a {
  color: gray;
}

.content .authentication a:hover {
  color: black;
}

.content .authentication label {
  color: #666060;
  letter-spacing: 1px;
  font-size: .8rem;
  padding: 5px;
}

.content .authentication input {
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #d3d0d0;
  background-color: rgba(137, 196, 235, 0.452);
  height: 30px;
  font-size: 0.9rem;
}

.content .authentication button {
  border-radius: 5px;
  border: 1px solid #d3d0d0;
  background-color: #c2c2c2;
  font-weight: bold;
  font-family: arial;
  min-height: 40px;
  width: 100%;
  letter-spacing: 1px;
  margin-top: 10px;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
}

.content .authentication .u-alert {
  cursor: default;
  -webkit-transition: ease 400ms;
  transition: ease 400ms;
  font-size: .8rem;
  padding: 1px 30px;
  color: white;
}

.content .authentication .u-alert--active {
  color: red;
}

body {
  background-color: #EFF1F2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=index.css.map */