@import 'variables';
@import 'reset';


body{
  background-color: #EFF1F2;
}

.content {
    display: grid;
    grid-template-columns: 1fr 420px 1fr;
    grid-template-rows: 1fr auto auto;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.login {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1/ 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25% 350px auto;
  flex-wrap: wrap;

   &__header {
     margin-top: 10%;
     grid-column: 1 / 2;
   }

   &__container {
     background-color: white;
     border: 0.5px solid rgb(211, 208, 208);
     box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
     display: flex;
     align-items: center;
     justify-content: center;
    //  height: 100%;

      label {
        
        color: rgb(102, 96, 96);
        letter-spacing: 1px;
        font-size: .8rem;
        padding: 5px;
      }

      input {
        border: 1px solid rgb(211, 208, 208);
        background-color: rgba(137, 196, 235, 0.452);
        height: 30px;
        font-size: 1.2rem;
      }
    
   }
}

.front__panel {
  max-height: 80%;
  width: 80%;

    .form__front {
      display: flex;
      flex-direction: column;

       .form-email {
         display: flex;
         flex-direction: column;
       }

       .form-password {
         margin-top: 10px;
        display: flex;
        flex-direction: column;
       }

       .form-login-btn {

            button {
              border: 1px solid rgb(211, 208, 208);
              background-color: rgb(194, 194, 194);
              font-weight: bold;
              font-family: arial;
              min-height: 40px;
              width: 100%;
              letter-spacing: 1px;
              margin-top: 32px;
              font-size: 1.3rem;
              color: white;
              cursor: pointer;
            }
       }

       .form-reminder {
         margin-top: 20px;
         display: flex;
         justify-content: space-around;

         a{
           color: gray;
         }

         a:hover {
           color: black;
         }
       }

    }

}