//box for register / login / reminder

.content {
    display: grid;
    grid-template-columns: 1fr 420px 1fr;
    grid-template-rows: auto;
    font-family: $roboto-font;
    height: 100vh;


    //authentication container for all

    .authentication {
        width: 100%;
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        position: relative;

      
        &__header {
           margin-top: 10%;
           grid-row: 1 / 2;
           display: flex;
           justify-content: center;
           margin-bottom: 10px;
  
       
        }

      
        &__container {
            position: relative;
           background-color: #ffffff;
           border: 0.5px solid rgb(211, 208, 208);
           box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
           display: flex;
           align-items: center;
           justify-content: center;

           img {
            position: absolute;
            border-radius: 50%;
            border: 0.5px solid rgb(211, 208, 208);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .5);
            z-index: 1;
            // top: -20%;
            width: 40%;
        }

           .front__panel {
               position: relative;
                display: flex;
                max-height: 80%;
                width: 80%;

                
           }
        }
    
        &__footer {
            height: 100%;
        }

        // a, label and all for authentication

        a {
            color: gray;
        }
     
        a:hover {
            color: black;
        }

        label {       
            color: rgb(102, 96, 96);
            letter-spacing: 1px;
            font-size: .8rem;
            padding: 5px;
        }
    
        input {
            padding-left: 15px;
            border-radius: 5px;
            border: 1px solid rgb(211, 208, 208);
            background-color: rgba(137, 196, 235, 0.452);
            height: 30px;
            font-size: 0.9rem;
        }

        button {
            border-radius: 5px;
            border: 1px solid rgb(211, 208, 208);
            background-color: rgb(194, 194, 194);
            font-weight: bold;
            font-family: arial;
            min-height: 40px;
            width: 100%;
            letter-spacing: 1px;
            margin-top: 32px;
            font-size: 1.3rem;
            color: white;
            cursor: pointer;
          }
        
    
    }
}

