
.authentication--login {
    display: grid;
    grid-template-rows: 25% 340px auto;

    img {
        top: -40%;
    }

    .form__front {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;

        .form-errors {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .errors {
                color: rgba(228, 86, 86, 0.705);
                font-family: $roboto-font;
                font-size: .8rem;
                padding: 2px;
            }
        }

        .form-email {
            display: flex;
            flex-direction: column;
        }
  
         .form-password {
            display: flex;
            flex-direction: column;
         }
  
         .form-reminder {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .form-information {
            margin-top: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: $roboto-font;
            font-size: 1rem;
            padding: 2px;
            color: rgb(43, 135, 189);
        }
  
      }
}

  
      
  