.authentication--registerx {
    display: grid;
    grid-template-rows: 20% 540px auto;

    img {
        top: -23%;
    }


    .form__front {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;

        

        .form-nip {
            // margin-top: 10px;
            display: flex;
            flex-direction: column;
        }

        .form-email {
            // margin-top: 10px;
            display: flex;
            flex-direction: column;
        }
  
         .form-password {
            // margin-top: 10px;
            display: flex;
            flex-direction: column;
         }

         .form-password-confirmed {
            // margin-top: 10px;
            display: flex;
            flex-direction: column;
         }
  
         .form-reminder {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        .form-errors {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .errors {
                color: rgba(228, 86, 86, 0.705);
                font-family: $roboto-font;
                font-size: .8rem;
                padding: 2px;
            }
        }
  
      }
}
