.authentication--registerx {
    display: grid;
    grid-template-rows: 22% 500px auto;

    img {
        top: -23%;
    }


    .form__front {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;

        

        .form-nip {
            // margin-top: 10px;
            display: flex;
            flex-direction: column;
        }

        .form-email {
            // margin-top: 10px;
            display: flex;
            flex-direction: column;
        }
  
         .form-password {
            // margin-top: 10px;
            display: flex;
            flex-direction: column;
         }

         .form-password-confirmed {
            // margin-top: 10px;
            display: flex;
            flex-direction: column;
         }
  
         .form-reminder {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }
  
      }
}
